# Node dependencies
backend/node_modules/
.env

# VS Code config
.vscode/

# Local Compiled Binary Outputs across all compiler hubs
backend/**/*.exe
backend/**/*.o
backend/**/*.out

# Flex and Bison runtime generated C files across all hubs
backend/**/lex.yy.c
backend/**/y.tab.c
backend/**/y.tab.h
backend/**/y.output
backend/**/parser.tab.c
backend/**/parser.tab.h

# OS overhead files
.DS_Store
thumbs.db